<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd" >

    <bean id="userService" class="org.example.service.UserServiceImpl"/>
    <bean id="log" class="org.example.Log.Log"/>
    <bean id="afterLog" class="org.example.Log.AfterLog"/>

    <bean id="annotationPointCut" class="org.example.diy.AnnotationPointCut"/>

<!--    <aop:config>-->
<!--        <aop:pointcut id="pointcut" expression="execution(* org.example.service.UserServiceImpl.*(..))"/>-->

<!--        <aop:advisor advice-ref="log" pointcut-ref="pointcut"/>-->
<!--        <aop:advisor advice-ref="afterLog" pointcut-ref="pointcut"/>-->

<!--    </aop:config>-->
    <!--开启注解支持-->
    <aop:aspectj-autoproxy/>

</beans>